# Environment and secrets
.env

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
temp_auto_push.bat
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

/generated_images
/static/images/
.gitignore
branch_structure.json
